@page
@model Homework_108_webpage.Pages.CustomersModel
@{
    ViewData["Title"] = "Customers";
}

<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>Contact Name</th>
        <th>Company Name</th>
        <th>Adress</th>
        <th>Postal Code</th>
    </tr>
    @foreach (var c in Model.customers)
    {
        <tr>
            <td>@c.ContactName</td>
            <td>@c.CompanyName</td>
            <td>@c.Address</td>
            <td>@c.PostalCode</td>
        </tr>
    }
</table>

