@page
@model Homework_108_webpage.Pages.MexicoModel
@{
    ViewData["Title"] = "Mexico";
}

<h1>Our customers in Mexico City</h1>

<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>Contact Name</th>
        <th>Company Name</th>
        <th>Adress</th>
        <th>Postal Code</th>
    </tr>
    @foreach (var c in Model.customers)
    {
        <tr>
            <td>@c.CompanyName</td>
            <td>@c.CompanyName</td>
            <td>@c.Address</td>
            <td>@c.PostalCode</td>
        </tr>
    }
</table>

<ul>
    <li>The first custimer delivers sausages</li>
    <li>The second delivers broccoli</li>
    <li>The third delivers pastry</li>
    <li>The fourth cheese</li>
</ul>

<style>
    table {
        margin: 25px,
    }
</style>

