
@{
    ViewBag.Title = "Sebsview";
    ViewBag.SubTitle = "Web Razor Page";
}

<h1>Razor Synthax</h1>

<h2>@ViewBag.Title</h2>

<h3>@ViewBag.SubTitle</h3>

<ul>
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
</ul>