@page
@model Lab_83_addrecord.Pages.NorthwindModel
@{
    ViewData["Title"] = "Northwind";
}

<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>Company Name</th>
        <th>Contact Name</th>
    </tr>
    @foreach(var c in Model.customers)
    {
        <tr>
            <td>@c.CompanyName</td>
            <td>@c.ContactName</td>
        </tr>
    }
</table>

