@page
@model Labs_asp.Pages.listsModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<table>
    <tr>
        <th>List</th>
    </tr>
    @foreach(string s in Model.items)
    {
        <tr>    
            <td>@s</td>
        </tr>
    }
</table>
