@page
@model Labs_asp.Pages.UsingaModelModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<hr/>
<hr/>
<hr/>

<style>
    div#block{
        width:60%;
        padding: 5vh 10vw 5vh 10vw;/* top right bottom left*/
        background-color:green;
        text-align:center;
        font-size:3em;
    }
</style>

<div id="block">
    @Model.Property01
</div>
